services:

  postgres:
    image: postgres:16.2
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: auth
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: {{ POSTGRES_PASSWORD }}

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
    command: start
    environment:
      KC_HOSTNAME_STRICT: true
      KC_HOSTNAME: {{ hostname }}
      KC_HTTP_ENABLED: true
      KC_PROXY_HEADERS: xforwarded
      KC_HEALTH_ENABLED: true
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: {{ KEYCLOAK_ADMIN_PASSWORD }}
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres/auth
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: {{ POSTGRES_PASSWORD }}
    restart: always
    depends_on:
      - postgres
    labels:
      - traefik.enable=true
      - traefik.http.routers.keycloak.rule=Host(`{{ hostname }}`)
      - traefik.http.routers.keycloak.entrypoints=https
      - traefik.http.routers.keycloak.tls=true
      - traefik.http.routers.keycloak.tls.certresolver=le
      - traefik.http.services.keycloak.loadbalancer.server.port=8080

  traefik:
    image: traefik:v3.6
    container_name: traefik
    ports:
      - 80:80/tcp
      - 443:443/tcp
    command:
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entryPoints.http.address=:80
      - --entryPoints.https.address=:443
      - --entrypoints.http.http.redirections.entryPoint.to=https
      - --entrypoints.http.http.redirections.entryPoint.scheme=https
      - --entrypoints.http.http.redirections.entrypoint.permanent=true
      - --certificatesresolvers.le.acme.email=svkoval@mail.ru
      - --certificatesresolvers.le.acme.storage=/letsencrypt/acme.json
      - --certificatesResolvers.le.acme.dnsChallenge.provider=yandexcloud
      - --certificatesResolvers.le.acme.caServer=https://acme-v02.api.letsencrypt.org/directory
      - --providers.file.filename=/configs/traefik_tls.yml
      - --log.level=INFO
    labels:
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
    environment:
      YANDEX_CLOUD_IAM_TOKEN_FILE: /run/secrets/traefik_yc-iam-token
      YANDEX_CLOUD_FOLDER_ID: {{ lookup('ansible.builtin.env', 'YC_FOLDER_ID') }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./letsencrypt:/letsencrypt
      - ./traefik_tls.yml:/configs/traefik_tls.yml
    secrets:
      - traefik_yc-iam-token
    restart: unless-stopped

volumes:
  postgres_data:

secrets:
  traefik_yc-iam-token:
    file: yc-iam-token.txt
